<ion-header>
	<ion-navbar>
		<button ion-button menuToggle *ngIf="loggedIn">
			<ion-icon name="liliom-menu2" class="not-flipped"></ion-icon>
		</button>
		<ion-title>
			<span *ngIf="rootCategory">{{ rootCategory.name }}</span>
			<span *ngIf="!rootCategory">{{ 'catalog.title' | translate }}</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>


	<ion-grid class="categories">
		<ion-row>
	<ng-container *ngFor="let category of categories; let i = index;">
		<ion-col col-6 tappable (click)="showDetails(category)" class="category-item small" *ngIf="category.parent_id == null">
			<div class="figure" [ngStyle]="{'background-image': 'url(' + category.image_url + ')'}"></div>
			<div class="title" [innerHtml]="category.name"></div>
		</ion-col>
		<ion-col col-6 tappable (click)="showDetails(category)" class="category-item" *ngIf="category.parent_id != null">
			<div class="figure" [ngStyle]="{'background-image': 'url(' + category.image_url + ')'}"></div>
			<div class="title" [innerHtml]="category.name"></div>
		</ion-col>
	</ng-container>
	</ion-row>
	</ion-grid>


	<!--<chamfered-card-item *ngFor="let category of categories" (click)="showDetails(category)" tappable
	                     [image]="category.image_url"
	                     [title]="category.name"
	                     [badge]="4.8"
	                     subTitle=""
	                     timestamp=""
	></chamfered-card-item>-->
</ion-content>